<!doctype html>
<html lang="zh-CN">

<head>
  <title>Title</title>
  <meta charset="utf-8">
  <!-- 支持手机 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- 新 Bootstrap4 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<body>
<ul class="sidebar-menu">
  <li class="header">导航菜单</li>
  <li class="active">
    <a href="javascript:;">
      <i class="fa fa-cog"></i>
      <span>系统管理</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu menu-open" style="display: block;">
      <li>
        <!---->
        <!---->
        <a href="#modules/sys/user.html">
          <i class="fa fa-user"></i> 管理员列表</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/sys/role.html">
          <i class="fa fa-user-secret"></i> 角色管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/sys/menu.html">
          <i class="fa fa-th-list"></i> 菜单管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#druid/sql.html">
          <i class="fa fa-bug"></i> SQL监控</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/job/schedule.html">
          <i class="fa fa-tasks"></i> 定时任务</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/sys/config.html">
          <i class="fa fa-sun-o"></i> 参数管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/oss/oss.html">
          <i class="fa fa-file-image-o"></i> 文件上传</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/sys/log.html">
          <i class="fa fa-file-text-o"></i> 系统日志</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/gen/generator.html">
          <i class="fa fa-rocket"></i> 代码生成器</a>
      </li>
    </ul>
    <!---->
  </li>
  <li>
    <a href="javascript:;">
      <i class="fa fa-th-list"></i>
      <span>CRM</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <!---->
        <!---->
        <a href="#modules/base/employee.html">
          <i class="fa fa-tasks"></i> 员工管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/base/customer.html">
          <i class="fa fa-square"></i> 客户管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/base/product.html">
          <i class="fa fa-life-ring"></i> 产品管理</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/base/chance.html">
          <i class="fa fa-futbol-o"></i> 销售机会</a>
      </li>
      <li>
        <!---->
        <!---->
        <a href="#modules/base/cont.html">
          <i class="fa fa-sign-language"></i> 合同管理</a>
      </li>
    </ul>
    <!---->
  </li>
</ul>
</body>

</html>