<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Bootstrap-select test page</title>-->
  <!--<link rel="stylesheet" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">-->
  <!--<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>-->
  <!--<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>-->
  <!--<meta charset="utf-8">-->
  <!--<script src="${request.contextPath}/statics/libs/bootstrap-select.js"></script>-->
  <!--<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-select.css">-->
  <!--<style>-->
    <!--body {-->
      <!--padding-top: 70px;-->
    <!--}-->
  <!--</style>-->
<!--</head>-->
<!--<body>-->


<!--<div class="container">-->

  <!--<form class="form-horizontal" role="form">-->
    <!--<div class="form-group">-->
      <!--<label  class="col-lg-2 control-label">"Basic" (multiple, maxOptions=1)</label>-->

      <!--<div class="col-lg-10">-->
        <!--<select id="basic2" class="show-tick form-control" multiple>-->
          <!--<option>cow</option>-->
          <!--<option>bull</option>-->
          <!--<option class="get-class" disabled>ox</option>-->
          <!--<optgroup label="test1" data-subtext="another test">-->
            <!--<option>ASD</option>-->
            <!--<option>Bla</option>-->
            <!--<option>Ble</option>-->
          <!--</optgroup>-->
          <!--<optgroup label="test2" data-subtext="another test">-->
            <!--<option>ASD</option>-->
            <!--<option >Bla</option>-->
            <!--<option>Ble</option>-->
          <!--</optgroup>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->


<!--<script>-->
  <!--$(document).ready(function () {-->

    <!--$('#basic2').selectpicker({-->
      <!--liveSearch: true,-->
      <!--maxOptions: 5-->
    <!--});-->
  <!--});-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
