<!DOCTYPE html>
<html>
<head>
<title>市场线索表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("clues:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("clues:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("clues:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
        <ul class="nav nav-tabs">
			<li v-for="type in types"  role="presentation" @click="reload"><a :id="type.id" >{{type.typeName}}</a></li>
        </ul>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">产品表Id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="clues.productId" placeholder="产品表Id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">客户表id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="clues.customerId" placeholder="客户表id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">销售类型id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="clues.typeId" placeholder="销售类型id"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/generator/clues.js?_${.now?long}"></script>
</body>
</html>